.categories_nav {
  background-color: $color-black;
  color: $color-white;
  ul {
    overflow-x: auto;
    display: flex;
    width: 80%;
    margin: auto;
    list-style: none;
    justify-content: space-evenly;
    // height: 4.8rem;
    padding: 2rem 0rem;

    &::-webkit-scrollbar {
      margin: 0.5rem;
      padding: 1rem;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #ccc;
      border-radius: 0.5rem;
      overflow-y: hidden;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: rgb(122, 122, 122);
    }
    li {
      font-size: 1.4rem;
      margin: auto;
      cursor: pointer;
      opacity: 0.65;
      padding: 0rem 1rem;
      // word-wrap: normal;
      white-space: nowrap;
    }
    li:hover {
      opacity: 1;
      font-weight: 600;
    }
  }
}

.categoriesSection {
  &__info {
    display: flex;
    margin: 6rem 0rem;

    &__content {
      width: 50%;

      &--heading {
        font-size: 3.6rem;
        font-weight: 600;
        padding: 1.8rem 0rem;
      }
      &--para {
        font-size: 1.6rem;
      }
    }

    &__graphics {
      width: 50%;

      &--wrap {
        width: 50rem;
        height: 25rem;
        margin: auto;
        position: relative;
        border-radius: 0.8rem;
        overflow: hidden;
        Image {
          object-fit: cover;
        }
      }
    }
  }
}

.product__card {
  display: flex;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  margin: 2rem 0rem;
  padding: 2rem;

  &__graphics {
    width: 25%;
    margin: auto;
    &--wrap {
      width: 22rem;
      height: 22rem;
      position: relative;
      margin: 3rem 4rem;
      border-radius: 0.8rem;
      overflow: hidden;
    }
  }

  &__content {
    font-size: 1.6rem;
    width: 65%;

    &--heading {
      font-size: 3.2rem;
      line-height: 4.8rem;
      margin-top: 2.5rem;
    }

    &__btn-wrap {
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
}

.active {
  opacity: 100%;
  color: aquamarine;
  font-weight: 600;
}

.inactive {
  opacity: 65%;
  color: white;
  font-weight: normal;
}

@include respond(tab-land) {
  .categories_nav {
    ul {
      width: 85%;

      li {
        font-size: 1.4rem;
      }
    }
  }

  .categoriesSection {
    &__info {
      display: flex;
      align-items: center;
      margin: 6rem 0rem;

      &__content {
        width: 50%;
        margin: 3rem;
      }
    }
  }
}

@include respond(phone-med) {
  .categories_nav {
    ul {
      width: 85%;

      li {
        font-size: 1.4rem;
        width: 100%;
      }
    }
  }
  .categoriesSection {
    &__info {
      display: flex;
      flex-direction: column-reverse;
      margin: 6rem 0rem;

      &__content {
        width: 90%;
        margin: auto;

        &--heading {
          font-size: 3.6rem;
          font-weight: 600;
          padding: 1.8rem 0rem;
        }
        &--para {
          font-size: 1.6rem;
        }
      }

      &__graphics {
        width: 100%;

        &--wrap {
          width: 50rem;
          height: 25rem;
          margin: auto;
          position: relative;
          border-radius: 0.8rem;
          overflow: hidden;
          Image {
            object-fit: cover;
          }
        }
      }
    }
  }

  .product__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__graphics {
      width: 100%;
      margin: auto;
      position: relative;

      &--wrap {
        position: relative;
        width: 100%;
        margin: auto;
      }
    }

    &__content {
      text-align: justify;

      font-size: 1.6rem;
      width: 100%;
      margin: 3rem;
      padding: 0rem 2rem;

      &__btn-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@include respond(phone) {
  .product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;

    &__content {
      font-size: 1.6rem;
      width: 100%;
      margin: 3rem;
      padding: 0rem 2rem;

      &__btn-wrap {
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }
}
