.otherProduct {
  text-align: center;
  ul {
    padding: 1rem 0;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
  &--heading {
    font-size: 3.6rem;
    margin: 3rem 0rem;
  }

  &__card {
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    overflow: hidden;
    gap: 2rem;
    background-color: $color-white;

    &--imgContainer {
      width: 100%;
      height: auto;
      aspect-ratio: 1.5/1;

      // margin: auto;
      position: relative;
    }

    &__content {
      padding: 2rem;

      &--name {
        font-size: 1.8rem;
      }
      &--issueDate {
        font-size: 1.2rem;
        opacity: 60%;
      }
      &--para {
        font-size: 1.2rem;
      }
    }

    @media screen and (max-width: 463px) {
      margin: 0 auto;
      width: 80%;
    }
  }
}
