.products {
  display: flex;
  flex-direction: row;

  height: 90vh;

  .hero__heading {
    width: 50%;
    margin: auto;
  }

  &__graphics {
    display: flex;

    width: 50%;

    &-wrap {
      width: 100%;
      position: relative;
      cursor: pointer;
    }
  }
}

@include respond(tab-land) {
  .products {
    .hero__heading {
      padding: 5rem;
    }

    &__graphics {
      width: 50%;
    }
  }
}

@include respond(tab-pot) {
  .products {
    display: flex;
    flex-direction: column-reverse;

    height: 90vh;

    .hero__heading {
      width: 100%;
      margin: auto;
    }

    &__graphics {
      display: flex;
      height: 100%;
      width: 70%;
      margin: auto;

      &-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
      }
    }
  }
}
