.product {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 0;

    &__content {
      width: 50%;

      &--heading {
        font-size: 3.8rem;
        font-weight: 700;
      }
      &--para {
        font-size: 1.6rem;
        line-height: 130%;
        width: 90%;
      }

      &--btn-enquiry {
        font-size: 1.8rem;
        padding: 1.4rem 4rem;
        border-radius: 0.4rem;
        background-color: $color-primary;
        color: $color-white;
        font-weight: 500;
        margin-top: 3rem;
        border: none;
      }
    }
    &__graphics {
      width: 30%;
    }
  }

  // ! --------------------Technical---------------------------

  &__technical {
    background-color: #f7f7f7;
    &--heading {
      font-size: 3.6rem;
      margin-bottom: 3rem;
      text-align: center;
    }
    &--subHeading {
      font-size: 2.5rem;
      line-height: 150%;
    }
    &--info {
      font-size: 1.6rem;
      line-height: 150%;
    }
  }

  // ! ----------------------Application---------------------------------

  &__application {
    background-color: $color-black;
    color: $color-white;
    &--heading {
      font-size: 3.4rem;
      text-align: center;
      color: $color-white;
      margin-bottom: 5rem;
      font-weight: 600;
    }

    &__cardWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      &--img {
        aspect-ratio: 1/1;
        border-radius: 100%;
        overflow: hidden;
      }

      &--heading {
        font-size: 2.4rem;
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
      }
      &--para {
        font-size: 1.6rem;
        line-height: 130%;
      }
    }
  }

  // ! -----------------------Other Products-----------------------
  .product__otherProducts {
    background-color: #f7f7f7;
  }

  // ! -----------------------Advantages-----------------------

  &__advantages {
    &--heading {
      font-size: 3.6rem;
      text-align: center;
      color: $color-black;
    }
    &--pointsWrap {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      padding-top: 3rem;
    }
    &--points {
      font-size: 1.6rem;

      li {
        padding: 1rem;
      }
    }
  }
}

// ! ---------------------------------------------------------------

@include respond(tab-pot) {
  .product {
    &__application {
      &__cardWrap {
        flex-wrap: wrap;
        row-gap: 5rem;
      }

      &__card {
        width: 40%;
        &--img {
          width: 60%;
        }
      }
    }
  }
}

@include respond(phone-med) {
  .product {
    &__hero {
      flex-direction: column;
      text-align: center;
      &__content {
        width: 100%;

        &--para {
          display: inline-block;
          text-align: center;
        }
      }
      &__graphics {
        width: 50%;
        margin-top: 8rem;
      }
    }
  }
}

@include respond(phone) {
  .product {
    &__hero {
      &__content {
        width: 100%;
        &--heading {
          padding: 0 1rem;
        }
        &--para {
          width: 90%;
        }
      }

      &__graphics {
        width: 60%;
        margin-top: 6rem;
      }
    }

    &__application {
      &__cardWrap {
        flex-direction: column;
        align-items: center;
      }

      &__card {
        width: 80%;
        &--img {
          width: 50%;
        }
      }
    }
    &__advantages {
      &--heading {
        font-size: 3.6rem;
        text-align: center;
        color: $color-black;
      }
      &--pointsWrap {
        display: flex;
        flex-direction: column;
        padding: 3rem;
      }
      &--points {
        font-size: 1.6rem;
        padding: 0rem;

        li {
          padding: 1rem;
        }
      }
    }
  }
}
