.product-images-slider {
  margin: 0 auto;
  // height: auto !important;
  ul {
    li {
      border-radius: 0.5rem;
    }
  }
  height: auto !important;
  .swiper-button-prev {
    left: 0;
    color: #000;
  }

  .swiper-button-next {
    right: 0;
    color: #000;
  }
}

.product-images-slider-thumbs {
  margin: 0 auto;
  margin-top: 1rem;
  li {
    &:not(:last-of-type) {
      margin-right: 0.2rem;
    }

    border-radius: 0.5rem;
  }
}
