.footer__wrap{
    background-color: $color-black;
    color: $color-white;

}

.footer{
   &__contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        position: relative;
    
        &__menu{
            ul {
                display: flex;
                list-style: none;
          
                li {
                  a {
                    color: $color-white;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 1.8rem;
                    border-right: 1px solid rgb(255, 255, 255,0.70) ;
                    padding-right:3.4rem;
                  }
                  &:not(:last-of-type) {
                    margin-right: 4rem;
                 
                  }
                 
                  
                }
              }

              
        }
        &_contact{
            display: flex;
            width: 25%;
            &--address{
              border-right: 1px solid rgb(255, 255, 255,0.70) ;
              padding-right:3.4rem 0;

            }
            &--phone{
              padding-left: 3.4rem;
            }
        }
    }

    .credits{
      padding:2rem 0rem 3rem 0rem;
      opacity: 0.70;
      text-align: center;
    }
}