.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: relative;

  // * setting bg color to navigation parent

  &__wrap {
    background-color: $color-black;
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        a {
          color: $color-white;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 1.8rem;
        }
        &:not(:last-of-type) {
          margin-right: 4rem;
        }

        span {
          margin-left: 1.5rem;
        }
      }
    }

    // ! dropdown
    &--dropdown {
      &--control {
        background-color: transparent !important;
        border: none !important;
        color: $color-white !important;
        font-size: 1.8rem !important;
        display: flex;
        cursor: pointer !important;
        padding: 0 !important;
      }
      &--arrow {
      }
      &--menu {
        background-color: $color-black !important;
        border: none !important;
        margin-top: 1.2rem !important;
        padding: 0.5rem 0 !important;
        .Dropdown-option {
          color: $color-white !important;
          font-size: 1.3rem !important;

          &:hover {
            background-color: #f4f4f4 !important;
            color: $color-black !important;
          }
        }

        .is-selected {
          background-color: rgb($color-black, 0.3) !important;
        }
      }
    }
  }
}
