.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: relative;

  // * setting bg color to navigation parent

  &__logo {
    img {
      width: 18rem !important;
    }
  }

  &__wrap {
    background-color: $color-black;
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        a {
          color: $color-white;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 1.8rem;
        }
        &:not(:last-of-type) {
          margin-right: 4rem;
        }

        span {
          margin-left: 1.5rem;
        }
      }
    }

    // ! dropdown
    &--dropdown {
      &--control {
        background-color: transparent !important;
        border: none !important;
        color: $color-white !important;
        font-size: 1.8rem !important;
        display: flex;
        cursor: pointer !important;
        padding: 0 !important;
      }
      &--arrow {
      }
      &--menu {
        background-color: $color-black !important;
        border: none !important;
        margin-top: 1.2rem !important;
        padding: 0.5rem 0 !important;
        .Dropdown-option {
          color: $color-white !important;
          font-size: 1.3rem !important;

          &:hover {
            background-color: #f4f4f4 !important;
            color: $color-black !important;
          }
        }

        .is-selected {
          background-color: rgb($color-black, 0.3) !important;
        }
      }
    }
  }

  .hamburger__menu {
    display: none;
    pointer-events: none;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(100deg)
      brightness(102%) contrast(101%);
    cursor: pointer;
  }

  // ! Responsiveness

  @include respond(tab-pot) {
    align-items: flex-start !important;
    padding-top: 2rem;

    &__logo {
    }
    &__menu,
    &__buttonWrap {
      display: none;
      pointer-events: none;
    }

    &__menu {
      &--active {
        display: inline-block;
        pointer-events: all;
        position: relative;
        height: 23rem;
        width: 20rem;
        background-color: $color-black;

        ul {
          display: inline-flex;
          flex-direction: column;
          position: absolute;
          top: 7rem;
          li {
            &:nth-of-type(2) {
              display: none;
              pointer-events: none;
            }
            a {
              color: $color-white;
              text-decoration: none;
              text-transform: capitalize;
              font-size: 1.8rem;
            }
            &:not(:last-of-type) {
              margin-right: 0;
              margin-bottom: 4rem;
            }
          }
        }
      }
    }

    .hamburger__menu {
      display: inline-block;
      pointer-events: all;
    }
  }
}
