.ctaSection__wrap{
    display: flex;
    align-items: center;
    height: 70vh;
    background:url("../../../assets/images/cta-bg.png");
    background-size: cover;
}

.ctaSection{
  
    width: 100%;
    color: $color-black;
    background-color: $color-white;
    border-radius: 3rem;
    margin: auto;
    position: relative;
    display: flex;
justify-content: start;
    &__content{
        padding: 8rem 12rem;
        margin: auto;

        &--heading{
            font-size: 4.4rem;
        }
        &--para{
    font-size: 1.8rem;
        }
    }

}
.cableimg{
    position: absolute;
    right: 0;
    bottom: 0;
    // width: 40%;
}