.ctaSection__wrap {
  display: flex;
  align-items: center;
  height: 70vh;
  background: url("../../../assets/images/cta-bg.png");
  background-size: cover;

  .ctaSection {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    // height: 70%;
    max-height: 85%;
    color: $color-black;
    background-color: $color-white;
    border-radius: 3rem;
    position: relative;
    &__content {
      padding: 0rem 8rem;
      width: 60%;
      margin: auto;

      &--heading {
        font-size: 4.4rem;
        font-weight: 600;
        z-index: 3;
        margin-bottom: 1.5rem;
      }
      &--para {
        font-size: 1.8rem;
        line-height: 130%;
        width: 80%;
      }
    }
  }
}

.img-container {
  display: block;
  width: 40%;
  height: 100%;
}
@include respond(tab-land) {
  .img-container {
    width: 50%;
    height: 85%;
  }
}

@include respond(tab-pot) {
  .ctaSection__wrap {
    .ctaSection {
      display: flex;
      flex-direction: column;

      &__content {
        padding: 5rem;
        width: 100%;
        text-align: center;

        &--heading {
          padding: 2rem 0rem 0rem 0rem;
        }
        &--para {
          font-size: 1.8rem;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .img-container {
    display: block;
    width: 40%;
    height: 100%;

    .img {
      position: relative;
      width: 100%;
      height: 100%;

      // width: 40%;
    }
  }
}

@include respond(phone-med) {
  .ctaSection__wrap {
    height: 70vh;
    .ctaSection {
      display: flex;
      flex-direction: column;
      width: 80%;
      &__content {
        padding: 5rem;
        width: 100%;
        text-align: center;

        &--heading {
          font-size: 3.4rem;
          padding: 2rem 0rem;
        }
        &--para {
          font-size: 1.8rem;
        }
      }
    }
  }
  .img-container {
    .img {
      position: relative;
      width: 100%;
      height: 100%;

      // width: 40%;
    }
  }
}

@include respond(phone) {
  .ctaSection__wrap {
    height: 60vh;
    .ctaSection {
      display: flex;
      flex-direction: column;
      width: 90%;
      &__content {
        padding: 3rem 0rem;
        width: 100%;
        text-align: center;

        &--heading {
          padding: 2rem 0rem;
        }
        &--para {
          font-size: 1.8rem;
        }
      }
    }
  }
  .img-container {
    .img {
      position: relative;
      width: 160%;

      height: 100%;

      // width: 40%;
    }
  }
}
