.hero {
  display: flex;
  height: 90vh;
  align-items: center;

  &__content {
    width: 50%;

    &--heading {
      p {
        width: 85%;
      }
    }

    &--btn {
      margin-top: 5rem;
    }
  }
  &__graphics {
    width: 65%;
  }

  // ! For tablets (potrait)

  @include respond(tab-pot) {
    flex-direction: column;
    &__content {
      width: 100%;
      text-align: center;
      &--heading {
        text-align: center;
        p {
          display: inline-block;
          width: 60%;
        }
      }

      &--btn {
        margin-top: 5rem;
      }
    }

    &__graphics {
      width: 60%;
      margin-top: 10rem;
    }
  }

  @include respond(phone-med) {
    // &__content {
    //   &--heading {
    //     p {
    //       width: 0%;
    //     }
    //   }
    // }

    &__graphics {
      width: 80%;
    }
  }
  @include respond(phone) {
    height: 80vh;

    &__graphics {
      width: 95%;
      margin: auto;
    }
  }
  @include respond(small-phone) {
    &__graphics {
      width: 100%;
    }
  }
}
