.hero {
  display: flex;
  height: 90vh;
  align-items: center;

  &__content {
    width: 50%;

    &--heading {
      p {
        width: 80%;
      }
    }

    &--btn {
      margin-top: 5rem;
    }
  }
  &__graphics {
    width: 50%;
  }

  // ! For tablets (potrait)

  @include respond(tab-pot) {
    flex-direction: column;
    height: 95vh;
    &__content {
      width: 100%;
      text-align: center;
      &--heading {
        p {
          width: 100%;
        }
      }

      &--btn {
        margin-top: 5rem;
      }
    }

    &__graphics {
      width: 60%;
      margin-top: 10rem;
    }
  }

  @include respond(phone-med) {
    &__graphics {
      width: 70%;
    }
  }
  @include respond(phone) {
    &__graphics {
      width: 85%;
    }
  }
}
