.hero {
  display: flex;
  height: 90vh;
  align-items: center;

  &__content {
    margin: auto;
    width: 50%;

    &--heading {
      p {
        width: 80%;
      }
    }

    &--btn {
      margin-top: 5rem;
    }
  }
  &__graphics {
    width: 50%;
  }
}
