.ourprocess {
  display: flex;
  align-items: center;
  &__graphics {
    width: 50%;
    margin: auto;
    padding: 0rem 12rem;
  }
  &__contentWrap {
    width: 50%;
    margin: auto;

    &__card {
      margin: 3rem 0rem;
      background-color: #f8f7fa;
      padding: 3rem;
      border-radius: 0.4rem;
      &--heading {
        padding: 0.8rem 0rem;
        line-height: 130%;
        margin-bottom: 1rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      &--para {
        font-size: 1.7rem;
        line-height: 130%;
      }
    }
  }

  // ! For tablets (landscape)

  @include respond(tab-land) {
    &__graphics {
      padding: 0rem 8rem;
    }
  }

  // ! For tablets (potrait)
  @include respond(tab-pot) {
    flex-direction: column;
    text-align: center;

    &__contentWrap {
      width: 80%;
      margin: auto;

      &__card {
        margin: 3rem 0rem;
      }
    }
  }
  @include respond(phone-med) {
    &__contentWrap {
      width: 90%;
    }
  }
  @include respond(phone) {
    &__contentWrap {
      width: 100%;
    }
    &__graphics {
      width: 80%;
    }
  }
}
