.categories__wrap {
  padding-bottom: 8rem;
  color: white;
  background-color: #231f20;
}

.categories {
  display: flex;
  flex-direction: column;

  &__headingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__content {
      h2 {
        margin-bottom: 1rem;
        text-align: left;
      }
      &--para {
        font-size: 1.8rem;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 24%;
      min-width: 30rem;
      background-color: #302c2d;
      border-radius: 0.4rem;

      &--name {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        padding: 2rem 1.5rem;
      }
    }
  }
  .imgContainer {
    width: 100%;
    height: 25rem;
    position: relative;
  }

  @include respond(tab-land) {
    &__section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__card {
        width: 24%;
        min-width: 18rem;
      }
    }
  }

  @include respond(tab-pot) {
    .section__heading {
      padding: 8rem 3rem;
    }

    &__headingSection {
      display: flex;
      flex-direction: column;
      text-align: center;

      align-items: center;
      &__content {
        margin-bottom: 2rem;
        h2 {
          text-align: center;
        }
      }
    }
    &__section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &__card {
        width: 45%;
        min-width: 30rem;

        margin-bottom: 3rem;
      }
    }
  }

  @include respond(phone) {
    .section__heading {
      padding: 8rem 3rem;
    }
    &__section {
      &__card {
        width: 45%;
        min-width: 20rem;
      }
    }
    .imgContainer {
      width: 100%;
      height: 20rem;
      position: relative;
    }
  }
}
