.categories__wrap {
  height: 80vh;
  color: white;
  background-color: #231f20;
}

.categories {
  display: flex;
  flex-direction: column;

  &__headingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;

    &__content {
      &--heading {
        font-size: 3.4rem;
      }
      &--para {
        font-size: 1.8rem;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-top: 4rem;

    &__card {
      display: flex;
      flex-direction: column;
      
      width: 24%;
      min-width: 20rem;
      height: 100%;
      background-color: #302c2d;
      border-radius: 0.4rem;
      margin: auto;

      &--name {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        padding: 2rem 1.5rem;
      }

      
    }
    &__card:nth-child(1){

      margin-left: 0;
    }
    &__card:nth-child(4){

      margin-right: 0;
    }
  }
  
}
