.whyUs__wrap {
  background-color: #f8f7fa;
}
.whyUs {
  text-align: center;
}

.whyUs__slider {
  display: flex;
  align-items: center;
  &__content {
    width: 50%;
    padding: 0 2rem;
    text-align: justify;

    h3 {
      font-size: 2.8rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    p {
      font-size: 1.7rem;
      margin-top: 2rem;
      width: 80%;
      line-height: 130%;
      display: inline-block;
    }
  }
  &__graphics {
    border-radius: 0.5rem;
    span {
      width: 50%;
      height: auto !important;
      img {
        width: 65rem !important;
        height: 30rem !important;
        border-radius: 0.5rem;
      }
    }
  }

  // ! For tablets (potrait)

  @include respond(tab-pot) {
    flex-direction: column-reverse;

    &__content {
      width: 100%;
      text-align: center;

      padding-bottom: 2rem;

      p {
        width: 80%;
      }
    }
    &__graphics {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  @include respond(phone) {
    &__content {
      p {
        width: 100%;
      }
    }
    &__graphics {
      span {
        img {
          height: 24rem !important;
        }
      }
    }
  }
}

.whyUs__slider {
  margin-bottom: 5rem !important;
}

.react-multi-carousel-dot-list {
  li {
    button {
      border-color: $color-black !important;
    }
  }
}

@include respond(tab-pot) {
  .react-multi-carousel-track {
    margin-bottom: 2rem !important;
  }
}
