.history {
  text-align: center;
  .section__heading {
    width: 100%;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
  }

  &__card {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__graphics {
    width: 60%;
    position: relative;
  }

  &__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--year {
      font-size: 10rem;
      text-align: center;
      opacity: 20%;
    }
    &--para {
      width: 60%;
      font-size: 1.6rem;
    }
  }
}

@include respond(tab-pot) {
  .history {
    text-align: center;

    &__card {
      display: flex;
      flex-direction: column;
    }
    &__graphics {
      width: 80%;
      height: 80%;
      margin: auto;
      position: relative;
    }

    &__content {
      width: 100%;
      display: flex;
      margin: 4rem 0rem;
      // flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
