.info {
  display: flex;
  text-align: justify;
  &--para {
    width: 50%;
    padding: 5rem 3rem;
    font-size: 1.8rem;
  }
  &__imgContainer {
    position: relative;
    margin: 5rem;
    width: 50%;
    padding: 5rem;
  }
}
@include respond(tab-pot) {
  .info {
    display: flex;
    flex-direction: column;

    &--para {
      width: 100%;
    }
    &__imgContainer {
      margin: 0rem;
      position: relative;
      width: 100%;
      height: 30vh;
      padding: 5rem;
    }
  }
}
@include respond(phone) {
  .info {
    &__imgContainer {
      margin: 0rem;
      position: relative;
      width: 80%;
      height: 30vh;
      padding: 5rem;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}
