.info {
  display: flex;
  // text-align: justify;
  gap: 5rem;
  &--para {
    width: 50%;
    font-size: 1.8rem;
    line-height: 130%;
    text-align: justify;
  }
  &__imgContainer {
    // position: relative;
    width: 50%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/dypttf0yz/image/upload/v1674996944/Bonson/Plant/20230121_160530_rrlajv.jpg");
    background-position: right;
    background-size: cover;
  }
}
@include respond(tab-pot) {
  .info {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    width: 90%;

    &--para {
      width: 100%;
    }
    &__imgContainer {
      position: relative;
      width: 100%;
      height: 50vh;
    }
  }
}
@include respond(phone) {
  .info {
    &__imgContainer {
      position: relative;
      width: 100%;
      height: 40vh;
      padding: 5rem;
      margin: auto;
    }
  }
}
