.madeIndia {
  display: flex;
  gap: 4rem;
  // width: 100%;
  align-items: center;
  .badge {
    width: 50%;
  }
  &__wrap {
    width: 100%;
    background-image: url("../../../assets/images/make-in-india-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section__heading {
    h2 {
      margin-bottom: 1.5rem;
    }
    width: 50%;
    h2 {
      text-align: left;
    }
  }
}

@include respond(tab-pot) {
  .madeIndia {
    flex-direction: column;
    width: 100%;
    gap: 4rem;

    .badge {
      width: 80%;
    }
    .section__heading {
      width: 80%;
    }
  }
}
