.madeIndia {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 5rem;
  .badge {
    width: 50%;
    // padding: 5rem;
  }
  &__wrap {
    width: 100%;
    background-image: url("../../../assets/images/make-in-india-bg.png");
    background-size: cover;

    background-repeat: no-repeat;
  }
  .section__heading {
    width: 50%;
    padding: 3rem;
    h2 {
      text-align: left;
    }
  }
}

@include respond(tab-pot) {
  .madeIndia {
    height: auto;
  }
}
@include respond(phone) {
  .madeIndia {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    &__wrap {
      background: rgb(248, 247, 250);
    }
  }

  .badge {
    width: 50%;
  }

  .section__heading {
    text-align: justify;
    width: 100%;
    padding: 3rem;
    h2 {
      text-align: center;
    }
  }
}
