.madeIndia{
  
  
    left: 25rem;
    display: flex;

    .badge{

        width: 50%;
        padding: 5rem;
    }
    &__wrap{
        
        background-image: url("../../../assets/images/make-in-india-bg.png");
background-size: contain;

    }

    &__content{
        width: 50%;
        padding: 5rem;
        margin: auto;

        &--heading{
            font-size: 3.6rem;
        }
        &--para{
            font-size: 1.6rem;
            width: 80%;
            text-align: justify;
           
        }
    }
    
}