.team {
  text-align: center;
  .section__heading {
    width: 100%;
    h2 {
      text-align: center;
    }
  }
  &__cardsWrap {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    margin: auto;
    width: 30%;
    text-align: center;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    &--imgContainer {
      height: 30rem;
      width: 100%;
      background-color: aqua;
      position: relative;
    }

    &__content {
      padding: 2rem;

      &--name {
        font-size: 1.8rem;
      }
      &--position {
        font-size: 1.4rem;
      }

      &--desc {
        padding: 1rem;
        text-align: justify;
        font-size: 1.4rem;
      }
    }
  }
}

@include respond(tab-land) {
  .team {
    text-align: center;

    &__card {
      &--imgContainer {
        height: 25rem;
      }
    }
  }
}
@include respond(phone-med) {
  .team {
    text-align: center;

    &__cardsWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__card {
      margin: 2rem 0rem;
      width: 80%;
      text-align: center;
      border-radius: 0.4rem;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
      &--imgContainer {
        height: 30rem;
        width: 100%;
        background-color: aqua;
        position: relative;
      }
    }
  }
}
