.vision {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 4rem;

  &__wrap {
    background-color: $color-black;
  }

  &__card {
    background-color: $color-white;
    max-width: 35%;
    position: relative;
    border-radius: 0.5rem;
    &__content {
      padding: 2rem;
      margin-top: 3rem;

      &--heading {
        font-size: 2.4rem;
        text-align: center;
      }

      &--para {
        font-size: 1.6rem;
        line-height: 130%;
        padding: 2rem;
      }
    }
    &_graphic {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-white;
      width: 8rem;
      height: 8rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

@include respond(tab-pot) {
  .vision {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__wrap {
      background-color: $color-black;
    }

    &__card {
      background-color: $color-white;
      max-width: 50%;

      &:not(:last-of-type) {
        margin-bottom: 4rem;
      }
    }
  }
}
@include respond(phone) {
  .vision {
    &__card {
      max-width: 90%;
    }
  }
}
