.form__heading {
  width: 100%;
  padding: 1.5rem 0rem;
  background-color: $color-black;
  color: $color-white;
  text-align: center;

  .heading {
    font-size: 3.2rem;
    font-weight: 600;
  }
}

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/contact-us-bg.png");
}

.contact-form-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: $color-white;
  border-radius: 0.5rem;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 0 auto;
  width: 100%;
  input {
    border: 0.5px solid rgb(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    background-color: #faf9fc;
    font-family: inherit;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    &::placeholder {
      font-size: 1.6rem;
    }
    &:focus {
      outline: none;
    }
  }
  .message {
    height: 15rem;
  }
}

.contact-details {
  display: flex;
  justify-content: space-between;
  .col {
    width: 30%;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 0.5px;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .top {
      font-size: 2rem;
      color: $color-primary;
      font-weight: 600;
    }
    .botton {
      font-size: 1.8rem;
      margin-top: 2rem;
    }
  }
}

.map {
}

// media queries in tablet
@include respond(tab-land) {
  .contact {
    height: 80vh;
  }
  .contact-form-wrap {
    width: 70%;
  }
}

// media query for phone med
@include respond(phone-med) {
  .contact-form-wrap {
    width: 90%;
  }
  .contact-details {
    flex-wrap: wrap;
    .col {
      width: 100%;
    }
  }
}
