@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px% = 62.5

  @include respond(big-desk) {
    //width < 1200px ?
    font-size: 75%; // 1rem = 12px; 9/16% = 75%
  }

  @include respond(tab-land) {
    //width < 1200px ?
    font-size: 56.25%; // 1rem = 9px; 9/16% = 56.25%
  }

  @include respond(tab-pot) {
    //width < 992px ?
    font-size: 50%; // 1rem = 8px; 8/16% = 50%
  }

  @include respond(phone) {
    //width < 600px ?
    font-size: 48%; // 1rem = 7.6px; 7.6/16% = 48%
  }
  @include respond(small-phone) {
    //width < 600px ?
    font-size: 43.75%; // 1rem = 7px; 7/16% = 43.75%
  }
}

.row {
  max-width: 124rem;
  margin: 0 auto;

  @include respond(tab-land) {
    max-width: 100rem;
  }

  @include respond(phone-med) {
    max-width: 70rem;
  }

  @include respond(phone) {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
