.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  text-transform: capitalize;
}

.btn--nav {
  color: $color-white;
  border: 1px solid $color-white;
  padding: 0.8rem 5rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
}
