.hero__heading {
  h1 {
    font-size: 4.2rem;
    font-family: gilroy-bold, sans-serif;
    margin-bottom: 2rem;
    line-height: 120%;
  }
  p {
    font-size: 2.2rem;
    line-height: 130%;
  }
}

.section__heading {
  h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: grifter, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
  }
}
