.gallery {
  .tags_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      height: 0.3rem;
      background-color: #ccc;
      border-radius: 0.5rem;
      overflow-y: hidden;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: $color-black;
    }
    h3 {
      padding: 1rem 4rem;
      border: 1px solid black;
      background-color: $color-white;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      cursor: pointer;
    }
    .active {
      background-color: $color-primary;
      color: $color-white;
      border-color: $color-primary;
      font-weight: 600;
    }
  }

  .gallery__graphics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2rem;

    .gallery--imgWrap {
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;
      max-width: 30%;
      min-height: 28rem;
      transition: all 0.1s ease-in;
      aspect-ratio: 1/1;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

@include respond(phone-med) {
  .gallery--imgWrap {
    min-height: 20rem !important;
  }
}
@include respond(phone) {
  .tags_wrap {
    h3 {
      padding: 1rem 3rem !important;
      white-space: nowrap;
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
  .gallery__graphics {
    gap: 1rem !important;
    .gallery--imgWrap {
      min-height: 16rem !important;
    }
  }
}
